In [1]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/45.0 kB ? eta -:--:--
   ---------------------------------------- 0.0/45.0 kB ? eta -:--:--
   --------- ------------------------------ 10.2/45.0 kB ? eta -:--:--
   --------------------------- ------------ 30.7/45.0 kB 217.9 kB/s eta 0:00:01
   ------------------------------------ --- 41.0/45.0 kB 281.8 kB/s eta 0:00:01
   ---------------------------------------- 45.0/45.0 kB 222.6 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [14]:
#Create mysql database
#sql connection
conn=pymysql.connect(host="localhost", user="root", password="12345")
my_cursor=conn.cursor()
my_cursor.execute("CREATE DATABASE IF NOT EXISTS red_bus")

1

In [15]:
my_cursor.execute("USE red_bus")

0

In [16]:
#table creation
my_cursor.execute('''CREATE TABLE bus_details(
    ID INT AUTO_INCREMENT PRIMARY KEY,
    Bus_name VARCHAR(255) NOT NULL,
    Bus_type VARCHAR(255) NOT NULL,
    Departing_time TIME NOT NULL,
    Reaching_time TIME NOT NULL,
    Duration VARCHAR(255) NOT NULL,
    Price FLOAT NULL,
    Star_rating FLOAT NULL,
    Seat_available VARCHAR(255) NOT NULL,
    Route_links VARCHAR(255) NULL,
    Route_names VARCHAR(255) NULL
)''')

print("Table Created Successfully")

Table Created Successfully

In [19]:
import pandas as pd

In [21]:
#Final_df details
#read csv file
Final_df = pd.read_csv("Final_df.csv")
Final_df

,Bus_name,Bus_type,Departing_time,Reaching_time,Duration,Price,Star_rating,Seat_available,Route_links,Route_names
0,KSRTC (Kerala) - 581,Super Express Non AC Seater Air Bus (2+2),10:00,18:22,08h 22m,469.0,4.1,1 Seat available,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
1,KSRTC (Kerala) - 52,SWIFT-GARUDA A/C SEATER BUS,12:00,20:20,08h 20m,627.0,4.0,7 Seats available,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
2,KSRTC (Kerala) - 1378,AC MULTI AXLE,13:46,21:25,07h 39m,729.0,2.5,16 Seats available,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
3,KSRTC (Kerala) - 235,Swift Deluxe Non AC Air Bus (2+2),15:00,01:00,10h 00m,620.0,4.0,20 Seats available,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
4,KSRTC (Kerala) - 370,AC MULTI AXLE,15:25,23:45,08h 20m,729.0,2.9,14 Seats available,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
...,...,...,...,...,...,...,...,...,...,...
2744,SBSTC-KOLKATA - HALDIA - 17:00 (Haldia Depot) ...,Non AC Seater (2+3),17:00,20:00,03h 00m,110.0,3.8,44 Seats available,https://www.redbus.in/bus-tickets/kolkata-to-h...,Kolkata to Haldia
2745,SBSTC-KOLKATA - HALDIA - 17.30 (HALDIA DEPOT) ...,Non AC Seater (2+3),17:30,20:30,03h 00m,110.0,4.2,47 Seats available,https://www.redbus.in/bus-tickets/kolkata-to-h...,Kolkata to Haldia
2746,SBSTC-KOLKATA - HALDIA - 18.15 (HALDIA DEPOT) ...,Non AC Seater (2+3),18:15,21:15,03h 00m,110.0,3.3,48 Seats available,https://www.redbus.in/bus-tickets/kolkata-to-h...,Kolkata to Haldia
2747,Satadal Travels,A/C Seater (2+2),15:35,18:15,02h 40m,167.0,3.8,41 Seats available,https://www.redbus.in/bus-tickets/kolkata-to-h...,Kolkata to Haldia
2748,Droupadi Bus Service,Non AC Seater (2+3),16:20,19:10,02h 50m,121.0,2.2,54 Seats available,https://www.redbus.in/bus-tickets/kolkata-to-h...,Kolkata to Haldia

In [22]:
# SQL query to insert data into bus_details table
insert_query = '''INSERT INTO bus_details(
                    Bus_name,
                    Bus_type,
                    Departing_time,
                    Reaching_time,
                    Duration,
                    Price,
                    Star_rating,
                    Seat_available,
                    Route_links,
                    Route_names)
                VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''

# Print the columns to verify their names
print(Final_df.columns)

# Ensure the columns are in the right order and have correct data types
data = Final_df[['Bus_name', 'Bus_type', 'Departing_time', 'Reaching_time', 'Duration', 'Price', 'Star_rating', 'Seat_available', 'Route_links', 'Route_names']].values.tolist()

# Check the data before inserting
print(data[:5])  # Print the first 5 rows to inspect

# Insert data into the bus_details table using executemany
my_cursor.executemany(insert_query, data)

# Commit the transaction to the database
conn.commit()

# Success message
print("Values inserted successfully")

Index(['Bus_name', 'Bus_type', 'Departing_time', 'Reaching_time', 'Duration',
       'Price', 'Star_rating', 'Seat_available', 'Route_links', 'Route_names'],
      dtype='object')
[['KSRTC (Kerala) - 581', 'Super Express Non AC Seater Air Bus (2+2)', '10:00', '18:22', '08h 22m', 469.0, 4.1, '1 Seat available', 'https://www.redbus.in/bus-tickets/bangalore-to-kozhikode', 'Bangalore to Kozhikode'], ['KSRTC (Kerala) - 52', 'SWIFT-GARUDA A/C SEATER BUS', '12:00', '20:20', '08h 20m', 627.0, 4.0, '7 Seats available', 'https://www.redbus.in/bus-tickets/bangalore-to-kozhikode', 'Bangalore to Kozhikode'], ['KSRTC (Kerala) - 1378', 'AC MULTI AXLE', '13:46', '21:25', '07h 39m', 729.0, 2.5, '16 Seats available', 'https://www.redbus.in/bus-tickets/bangalore-to-kozhikode', 'Bangalore to Kozhikode'], ['KSRTC (Kerala) - 235', 'Swift Deluxe Non AC Air Bus (2+2)', '15:00', '01:00', '10h 00m', 620.0, 4.0, '20 Seats available', 'https://www.redbus.in/bus-tickets/bangalore-to-kozhikode', 'Bangalore to Kozhikode'], ['KSRTC (Kerala) - 370', 'AC MULTI AXLE', '15:25', '23:45', '08h 20m', 729.0, 2.9, '14 Seats available', 'https://www.redbus.in/bus-tickets/bangalore-to-kozhikode', 'Bangalore to Kozhikode']]
Values inserted successfully