In [1]:
pip install pymysql

Requirement already satisfied: pymysql in e:\stremlit_red_bus_project\env\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import pymysql

In [2]:
#Create mysql database
#sql connection
conn=pymysql.connect(host="localhost", user="root", password="12345")
my_cursor=conn.cursor()
my_cursor.execute("CREATE DATABASE IF NOT EXISTS red_bus")

1

In [3]:
my_cursor.execute("USE red_bus")

0

In [4]:
#table creation
my_cursor.execute('''CREATE TABLE bus_details(
    ID INT AUTO_INCREMENT PRIMARY KEY,
    Bus_name VARCHAR(255) NOT NULL,
    Bus_type VARCHAR(255) NOT NULL,
    Departing_time TIME NOT NULL,
    Reaching_time TIME NOT NULL,
    Duration VARCHAR(255) NOT NULL,
    Price FLOAT NULL,
    Star_rating FLOAT NULL,
    Seat_available VARCHAR(255) NOT NULL,
    Route_links VARCHAR(255) NULL,
    Route_names VARCHAR(255) NULL
)''')

print("Table Created Successfully")

Table Created Successfully

In [5]:
import pandas as pd

In [ ]:
#Final_df details
#read csv file
Final_df1 = pd.read_csv("Final_df1.csv")
Final_df1

In [7]:
# SQL query to insert data into bus_details table
insert_query = '''INSERT INTO bus_details(
                    Bus_name,
                    Bus_type,
                    Departing_time,
                    Reaching_time,
                    Duration,
                    Price,
                    Star_rating,
                    Seat_available,
                    Route_links,
                    Route_names)
                VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''

# Print the columns to verify their names
print(Final_df1.columns)

# Ensure the columns are in the right order and have correct data types
data = Final_df1[['Bus_name', 'Bus_type', 'Departing_time', 'Reaching_time', 'Duration', 'Price', 'Star_rating', 'Seat_available', 'Route_links', 'Route_names']].values.tolist()

# Check the data before inserting
print(data[:5])  # Print the first 5 rows to inspect

# Insert data into the bus_details table using executemany
my_cursor.executemany(insert_query, data)

# Commit the transaction to the database
conn.commit()

# Success message
print("Values inserted successfully")

Index(['Unnamed: 0.1', 'Unnamed: 0', 'Bus_name', 'Bus_type', 'Departing_time',
       'Reaching_time', 'Duration', 'Price', 'Star_rating', 'Seat_available',
       'Route_links', 'Route_names'],
      dtype='object')
[['KSRTC (Kerala) - 581', 'Super Express Non-AC-Seater Air Bus (2+2)', '10:00', '18:22', '08h 22m', 469.0, 4.1, 1, 'https://www.redbus.in/bus-tickets/bangalore-to-kozhikode', 'Bangalore to Kozhikode'], ['KSRTC (Kerala) - 52', 'SWIFT-GARUDA AC Seater BUS', '12:00', '20:20', '08h 20m', 627.0, 4.0, 7, 'https://www.redbus.in/bus-tickets/bangalore-to-kozhikode', 'Bangalore to Kozhikode'], ['KSRTC (Kerala) - 1378', 'AC Seater', '13:46', '21:25', '07h 39m', 729.0, 2.5, 1, 'https://www.redbus.in/bus-tickets/bangalore-to-kozhikode', 'Bangalore to Kozhikode'], ['KSRTC (Kerala) - 235', 'Swift Deluxe Non-AC-Seater Air Bus (2+2)', '15:00', '01:00', '10h 00m', 620.0, 4.0, 2, 'https://www.redbus.in/bus-tickets/bangalore-to-kozhikode', 'Bangalore to Kozhikode'], ['KSRTC (Kerala) - 370', 'AC Seater', '15:25', '23:45', '08h 20m', 729.0, 2.9, 1, 'https://www.redbus.in/bus-tickets/bangalore-to-kozhikode', 'Bangalore to Kozhikode']]
Values inserted successfully